<%# TODO: Greeting Control Flow
if @employee = current_user, show Welcome back!
if @employee != current_user, show Now Viewing:
Set up separate partial for this%>

<h1>Hello, <%= @employee.first_name %></h1>

<h3>Title:</h3>
<h4><%= @employee.title %></h4>

<h3>Email:</h3>
<h4><%= @employee.email %></h4>

<h3>Project Lead?</h3>
<h4><%= @employee.lead %></h4><br>

<h2>Currently Working On:</h2>
<ul>
<% @assigned.each do |task| %>
   <li><%= task_formatted(task) %></li>
<% end %>
</ul>

<h2>Recently Completed:</h2>
<ul>
<% @completed.each do |task| %>
   <li><%= task_formatted(task) %></li>
<% end %>
</ul>

<% if @curr_user.lead %>
    <% if @employee == @curr_user %>
        <%= link_to 'Add Employee', new_organization_employee_path(@employee.organization.id)%>
        <%= link_to 'Edit Your Profile', edit_employee_path(@employee) %>
    <% else %>
        <%= link_to 'Edit Employee', edit_employee_path(@employee) %>
        <%= link_to 'Delete Employee', employee_path(@employee), method: :delete, data: {confirm: "Are you sure you want to delete this employee? This will unassign their tasks and remove their profile."} %>
    <% end %>
<% else %>
    <% if @employee == @curr_user %>
        <%= link_to 'Edit Your Profile', edit_employee_path(@employee) %>
    <% end %>
<% end %>



