<%# TODO: Greeting Control Flow
if @employee = current_user, show Welcome back!
if @employee != current_user, show Now Viewing:
Set up separate partial for this%>

<h1 id="empGreeting"></h1>

<div id="empBasicInfo">
    <h3>Title:</h3>
    <h4 id="empTitle"></h4>

    <h3>Email:</h3>
    <h4 id="empEmail"></h4>

    <h3>Project Lead?</h3>
    <h4 id="empLead"></h4><br>
</div>

<div id='empTasks'>
    <h2>Currently Working On:</h2>
    <ul id="empAssignedTasks">
        <% @assigned.each do |task| %>
        <li><%= task_formatted(task) %></li>
        <% end %>
    </ul>

    <h2>Recently Completed:</h2>
    <ul id="empCompletedTasks">
        <% @completed.each do |task| %>
        <li><%= task_formatted(task) %></li>
        <% end %>
    </ul>
</div>

<div id="leadPanel">
    <% if @curr_user.lead %>
        <% if @employee == @curr_user %>
            <%= link_to 'Add Employee', new_organization_employee_path(@employee.organization.id)%>
            <%# could delete the following link if the edit link outside this div works%>
            <%# link_to 'Edit Your Profile', edit_employee_path(@employee) %>
        <% else %>
            <%= link_to 'Edit Employee', edit_employee_path(@employee) %>
            <%= link_to 'Delete Employee', employee_path(@employee), method: :delete, data: {confirm: "Are you sure you want to delete this employee? This will unassign their tasks and remove their profile."} %>
        <% end %>
    <% end %>
</div>

<% if @employee == @curr_user %>
    <%= link_to 'Edit Your Profile', edit_employee_path(@employee) %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $.get("/employees/<%=params[:id]%>.json", function(data) {
        console.log(data);
        showBasicInfo(data);
    });
    
    var showBasicInfo = (data) => {
        (function(data) {
            if (data.id.toString() === "<%= @curr_user.id %>") {
                $('#empGreeting').html(`Hi, ${data.first_name}`);
            } else {
                $('#empGreeting').html(`Info for ${data.first_name + ' ' + data.last_name}`);
            }
        })(data);
        $('#empEmail').html(`${data.email}`);
        $('#empTitle').html(`${data.title}`);
        $('#empLead').html(`${data.lead.toString()}`);
    };
  });
</script>



