<%= form_for @comment do |f| %>
    <%= f.hidden_field :employee_id, value: @curr_user.id%>
    <%= f.hidden_field :task_id, value: @task.id%>
    <%= f.text_area :content %>
    <%= f.submit %>
<% end %>

<div id='comments'>
    <ol id='commentList'>
    </ol>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    showComments();
    $('#new_comment').submit(function(event) {
      event.preventDefault();

      var values = $(this).serialize();
 
      var commenting = $.post("/comments.json", values);
 
      commenting.done(function() {
        showComments();
        $("input[type=submit]").removeAttr("disabled");
      });
    });

  });

  var showComments = () => {
      $.get("/comments.json", {task_id: "<%= @task.id %>"}, function(data) {
          data.forEach(comment => {
              $("#commentList").append(
                `<li><span id='commentContent'>${comment.content}</span><br>
                Posted By: <span id='commentAuthor'>${comment.employee.first_name}</span></li>`
              );
          });
      });
  }
</script>

<%# code from pre-JS version of app... delete before merging with master branch %>
<%#  ,url: task_comments_path(@task.id, @comment)%>