<%= form_for @comment do |f| %>
    <%= f.hidden_field :employee_id, value: @curr_user.id%>
    <%= f.hidden_field :task_id, value: @task.id%>
    <%= f.text_area :content %>
    <%= f.submit %>
<% end %>

<div id='comments'>
<ol id='commentList'>
</ol>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('#new_comment').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

    
      var values = $(this).serialize();
 
      var commenting = $.post('/comments.json', values);
 
      commenting.done(function(data) {
          debugger
        var comment = data;

        var listHTML = "<li><span id='commentContent'></span><br>Posted By: <span id='commentAuthor'></span></li>"
            
        $("#commentList").append(listHTML);
        $("#commentContent").text(comment["content"]);
        $("#commentAuthor").text(comment["employee"]["first_name"]);
      });

    });
  });
</script>

<%# code from pre-JS version of app... delete before merging with master branch %>
<%#  ,url: task_comments_path(@task.id, @comment)%>