<%= form_for @comment do |f| %>
    <%= f.hidden_field :employee_id, value: @curr_user.id%>
    <%= f.hidden_field :task_id, value: @task.id%>
    <%= f.text_area :content %>
    <%= f.submit %>
<% end %>

<div id='comments'>
    <ol id='commentList'>
    </ol>
</div>


<script type="text/javascript" charset="utf-8">
  $(function () {
    //Event Listener for new comment submission
    $('#new_comment').submit(function(event) {
      event.preventDefault();

      var values = $(this).serialize();
 
      var commenting = $.post("/comments.json", values);
 
      commenting.done(function() {
        clearComments();
        showComments();
        //Clear new comment form text box and reactivate submit button
        $("#comment_content").val('');
        $("input[type=submit]").removeAttr("disabled");
      });
    });
  
    //Function Declaration to display comments (using JS model objects from assets/javascripts files)
    var showComments = () => {
      $.get("/comments.json", {task_id: "<%= @task.id %>"}, function(data) {
        data.forEach(comment => {
          let newEmployee = new Employee(comment.employee.first_name, comment.employee.last_name, comment.task);
          let newComment = new Comment(comment.content, comment.employee, comment.task);
        
          $("#commentList").append(
            `<li>${newComment.content}<br>
            Posted By: ${newEmployee.fullName()}</li>`
          );

        });
      });
    }

    //Function Declartion to clear comments (used after new comment submit before showing all comments again)
    var clearComments = () => {
      $("#commentList").empty();
    }

    //Initial call to show current comments on document(ready)
    showComments();
  });

</script>
