<h1>Project: <%= @project.name %></h1>

<h3>Deadline: <%= deadline_formatted(@project) %></h3><br>

<h3>Description:</h3>
<p><%= @project.description %></p><br>

<h3>Project Lead: <%= project_lead_name(@project) %></h3><br>

<h3>Employees Currently Participating:</h3>
<ul>
<% @project.employees.uniq.each do |employee| %>
    <li><%= link_to employee.full_name, employee_path(employee) %> - <%= employee.title %></li>
<% end %>
</ul><br>


<h3>Unassigned Tasks:</h3>
<% @project.unassigned_project_tasks.each do |task| %>
    <%= link_to task.content, task_path(task) %>
    <p><%= task.lead_notes %></p><br>
<% end %>

<h3>In Progress Tasks:</h3>
<% @project.assigned_project_tasks.each do |task| %>
    <%= link_to task.content, task_path(task) %>
    <p><%= task.lead_notes %></p><br>
<% end %>

<h3>Recently Completed Tasks</h3>
<%# add in limit to completed_project_tasks %>
<% @project.completed_project_tasks.each do |task| %>
    <%= link_to task.content, task_path(task) %>
    <p><%= task.lead_notes %></p><br>
<% end %>

<h4><%=link_to "All Projects", projects_path %></h4>

