<!DOCTYPE html>
<html>
  <head>
    <title>Roundtable Task Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if session[:employee_id]%>
      <h1>Welcome to Roundtable Task Management for <%= Employee.find(session[:employee_id]).organization.name %></h1>
      <h3>Currently Logged In As: <%= Employee.find(session[:employee_id]).first_name %></h3>
    <% end %>
    <br>

    <%= yield %><br>

    <% if session[:employee_id] %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% end %>
  </body>
</html>
